@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is list of products</h1>
    <table class="table table-bordered">
        <thead>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
        </thead>
        <tbody>
            @foreach(var product in Model.products)
            {
                <tr>
                    <th scope="row">@product.ProductId</th>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
